body {
  color: #000;
  /* background: #fdf6e3; */
  font-family: sans-serif;
  font-size: 1em;
  /* background: #e6e6fa; */
  /* max-width: 68em;*/
  /* max-width: 575px; */
}

h1 {
    margin-top: 1.75em;
    margin-bottom: 1.0em;
    font-size: 2.1em;
    text-align: center;
    text-transform: uppercase;
    /* color: #696969; */ /* gray */
    /* color: #2e4045; */ /* muted */
    /* color: #00cca3; */ /* mint */
}

h2 {
    font-size: 1.35em;
    margin-top: 2.5em;
    margin-bottom: 1em;
    /* color: #5e3c58; */ /* muted */
    /* color: #FF2079; */ /* bright pink */
}

h3 {
    font-size: 1.15em;
    /* font-style: italic; */
    /* color: #00cca3; */ /* mint */
}

h4 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.75em;
    text-align: center;
    text-transform: uppercase;
    color: #FF2079; /* bright pink */
}

h5 {
  font-size: 1em;
}

li{
  margin: 0.75em 0;
}

a {
    /* color: #008066; */
  color: #2C8DFE; /* zoom blue */
  } 

table {
  border-collapse: collapse;
}

ul{
  list-style: none;
}
