@font-face {
  font-family: permanentMarker;
  src: url('../fonts/PermanentMarker.ttf')
}

@font-face {
  font-family: alteHaasGrotesk;
  src: url('../fonts/AlteHaasGroteskRegular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: alteHaasGroteskBold;
  src: url('../fonts/AlteHaasGroteskBold.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  color: #000;
  /* background: #fdf6e3; */
  font-family: alteHaasGrotesk;
  font-size: 16px;
  /* background: #e6e6fa; */
  /* max-width: 68em;*/
  /* max-width: 575px; */
}

h1 {
    margin-top: 0.25em;
    margin-bottom: 1em;
    /* font-family: permanentMarker; */
    font-family: alteHaasGroteskBold;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    /* color: #696969; */ /* gray */
    /* color: #2e4045; */ /* muted */
    /* color: #00cca3; */ /* mint */
    color: #FF0000;
}

h2 {
    font-size: 2em;
    margin-top: 1em;
    text-align: center;
    text-transform: uppercase;
    font-family: alteHaasGroteskBold;
    /* color: #5e3c58; */ /* muted */
    /* color: #FF2079; */ /* bright pink */
}

h3 {
    font-size: 1.15em;
    /* font-style: italic; */
    /* color: #00cca3; */ /* mint */
}

h4 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.75em;
    text-align: center;
    text-transform: uppercase;
    color: #FF2079; /* bright pink */
}

h5 {
  font-size: 1em;
}

li{
  margin: 0.75em 0;
}

a {
    /* color: #008066; */
  color: #2C8DFE; /* zoom blue */
  } 

table {
  border-collapse: collapse;
}
